*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    background: rgba(29, 75, 47, 0.4); 
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background-image: radial-gradient(circle at center, transparent, rgba(53, 52, 52, 0.5));
}
body{
    background: #000;
    color: white;
    font-family: 'Segoe UI', sans-serif;
}


.global__container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
 

.header{
    background-color: #ffffff;
    padding: 20px 0px;
}


.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__logo{
    color: white;
    cursor: pointer;
    outline: none;
    font-size: 30px;
    border: none;
    text-transform: capitalize;
    font-family: 'Poppins', Courier, monospace,sans-serif;
}


.menu{
    display: flex;
    align-items: center;
    gap: 30px;
}


.menu__link{
    cursor: pointer;
    outline: none;
    border: none;
   font-family: 'Rubik',sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(79, 86, 101, 1);
}
.menu__link:hover{
    color: blue;
}



.header__apps{
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__btn{
    cursor: pointer;
    border: 1px solid rgba(245, 56, 85, 1);
    color: rgba(245, 56, 85, 1);
    font-family: 'Rubik',sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    padding: 13px 45px;
    border-radius: 25px;
    background-color: white;
}
.header__btn:hover{
    background-color: rgba(245, 56, 85, 1);
    color: white;
}



.header__apps-link{
    color: rgba(11, 19, 42, 1);
    cursor: pointer;
    outline: none;
    border:none;
    font-family: 'Rubik',sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;

}



.banner{
    height: 90vh;
    background: rgb(0, 0, 0);
}


.banner__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90%;
}


.width{
    max-width: 555px;
    width: 555px;
}



.banner__h{
    font-family: 'Rubik',sans-serif;
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
    letter-spacing: 0%;
    margin-bottom: 20px;
    color: rgb(249, 251, 255);
}
.banner__h > span {
    font-weight: bold !important;
    color: #ffffff;
}

.banner__p{
    color: rgb(171, 172, 176);
    margin-bottom: 50px;
    font-family: 'Rubik',sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0%;
}

.banner__p > span {
    color: #beb8b8;
    font-weight: 600;
}

.banner__apps{
    display: flex;
    align-items: center;
}

.banner__btn{
    transition: 0.2s;
    color: white;
    font-family: 'Rubik',sans-serif;
    background-color: rgba(245, 56, 56, 1);
    cursor: pointer;
    border:none;
    outline: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0%;
    padding: 17px 70px;
    border-radius: 10px;
}
.banner__btn:hover{
    color: #000;
    background-color: #ffffff;
}

.banner__img {
    width: 600px !important;
}


.bottom{
    padding: 67.5px;
    background-color: rgb(0, 0, 0);
}

.bottom__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom__card{
    display: flex;
    align-items: center;
    gap: 36.5px;
    background: #171717;
    padding: 25px 40px;
    border-radius: 30px;
}

.bt__span{
    font-size: 35px;
}


.bt__h3{
    font-family: 'Rubik',sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0%;
    margin-bottom: 5px;
    color: rgb(162, 169, 189);
}

.bt__p{
    color: rgb(206, 213, 227);
    font-family: 'Rubik',sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-transform: capitalize;
    letter-spacing: 0%;
}

.pricing-header {
    font-family: Arial, Helvetica, sans-serif;
    padding: 60px 0px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;

}

.pricing-title{
    text-align: center;
    font-family: 'Rubik',sans-serif;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 20px;
}


.pricing-subtitle {
    width: 555px;
    height: 60px;
    text-align: center;
    font-family: 'Rubik',sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    color: rgb(206, 210, 218);
}

