@media screen and (max-width: 1037px) {
    .width{
        max-width: 400px;
        width: 400px;
    }


    .banner__h{
        font-size: 20px;
    }

    .banner__img {
        width: 350px !important;
    }
}
